name: "Deploy YouTrack workflows"
author: "Vasily Litvinov"
description: "Run deployments for all workflows"
inputs:
  secrets1:
    description: 'Secrets to use'
    required: true

runs:
  using: "composite"
  steps:
    - name: Deploy
      shell: bash
      env:
        TOKEN_TEST: ${{ inputs.secrets1.YOUTRACK_TOKEN_TEST }}
        TOKEN_PROD: ${{ inputs.secrets1.YOUTRACK_TOKEN_PROD }}
      run: |
        npm config set token_test "$TOKEN_TEST"
        npm config set token_prod "$TOKEN_PROD"
